* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}

:root {
  --primary: #0a2b4a;
  --secondary: #fcfcfc;
  --bg: #dddddd;
  --text: #161616;
  --button: #145bcd;
  --card: #f9f9f9;
  --title: #333333;
}

.dark {
  --primary: #161616;
  --secondary: #1d1d1d;
  --bg: #3b0606;
  --text: #e0e0e0;
  --button: #9d0505;
  --card: #161616;
  --title: #dad9d9;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-header {
  background-color: var(--primary);
  border-bottom: 1px solid var(--text);
  padding: 8px 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  cursor: pointer;
  display: block;
  height: auto;
  max-height: 50px;
  width: auto;
}

.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-list a {
  color: #e0e0e0;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-list a:hover {
  color: #730606;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 16px;
}

.theme-button {
  background: none;
  border: none;
  cursor: pointer;
}

.user-icon img {
  border-radius: 50%;
  cursor: pointer;
}
