.tituloContainer {
  background: #929292;
  border: 4px solid #bbb;
  border-radius: 24px;
  box-shadow: 0 2px 16px rgba(180, 180, 180, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.2rem 3rem 1.2rem 2.5rem;
  margin-bottom: 2rem;
  width: fit-content;
  margin-left: 10px;
}

.pokedexLinkWrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-40%, -50%);
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.pokedexLinkRight {
  left: 807px;
  margin-bottom: 50px;
  z-index: 2;
  position: relative;
  font-size: 1.7rem;
  color: #fff;
  background: rgba(48, 48, 48, 0.299);
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s, color 0.2s;
}
.pokedexLinkRight:hover {
  color: rgba(0, 0, 0, 0.123);
}
.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1a3bb0d5;
  justify-content: center;
  overflow: hidden;
}

.titulinho {
  font-size: 50px;
}

.pokedexBg {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-40%, -50%);
  opacity: 1;
  z-index: 0;
  pointer-events: none;
}
.pikachuBg {
  position: absolute;
  margin-top: 900px;
  margin-left: 1840px;

  transform: translate(-40%, -50%);
  opacity: 1;
  z-index: 0;
  pointer-events: none;
}
