.home {
  
  
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
  
  justify-content: center;
  overflow: hidden;
}

.titulinho {
  font-size:50px;
  margin-left: 15px;
}
.titulo {
  font-size:130px;
  margin-left: 70px;
}

.pokedexBg {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-40%, -50%);
  opacity: 1.0;
  z-index: 0;
  pointer-events: none;
}
.pikachuBg {
  position: absolute;
  margin-top: 1100px;
  margin-left: 1840px;
  
  transform: translate(-40%, -50%);
  opacity: 1.0;
  z-index: 0;
  pointer-events: none;
}